<app-navbar></app-navbar>

<div class="conteudo-noticia">
  <div class="lista-noticias">
    @for (item of noticias; track item) {
      <div class="noticia">
        <div class="cabecalho-noticias">
          <div class="data-noticia">
            Data: {{item.dataCadastro}}
          </div>
          <div class="usuario-noticia">
            {{item.titulo}}
          </div>
        </div>
        <div class="texto-noticia">
          {{item.informacao}}
        </div>
      </div>
    }
  </div>
</div>
